<span class="created-by">
  Nelson Rodrigo Villafrade Blanco
  <b><a target="_blank"></a> &copy; FUNDASES 2022</b> Sofia Paola Gutierrez Guzman
</span>
<div class="socials">
  <a href="https://es-la.facebook.com/FUNDASESMD/" target="_blank" class="facebook-outline"><nb-icon icon="facebook-outline"></nb-icon></a>
  <a href="https://twitter.com/fundasesmd?lang=es" target="_blank" class="twitter-outline"><nb-icon icon="twitter-outline"></nb-icon></a>
  <a href="https://www.fundases.net/" target="_blank" class="globe-outline"><nb-icon icon="globe-outline"></nb-icon></a>
</div>
