<nb-card>
  <detalle-proveedor *ngIf="proveedorSeleccionado" [proveedor]="proveedorSeleccionado"></detalle-proveedor>

  <nb-card-body>
    <h2 class="card-title" style="text-align: center">
      Listado de Proveedores
    </h2>
    <input nbInput fieldSize="small" type="text" class="forms-control" placeholder="Buscar..." [(ngModel)]="filterpost"
      name="filterpost" />
    <div class="my-2 text-left">
      <nb-icon *ngIf="authService.hasRole('ROLE_ADMIN')" icon="plus-outline" type="button"
        [routerLink]="['./formProveedor']"></nb-icon>
    </div>
    <div *ngIf="proveedores?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <ng2-smart-table [source]="source">
      <table class="table" *ngIf="proveedores?.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Direccion</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Crear Factura</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Editar</th>
            <th *ngIf="authService.hasRole('ROLE_ADMIN')">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let proveedor of proveedores
                | paginate: { itemsPerPage: 8, currentPage: page }
                | filtrar: filterpost
            ">
            <td>
              <button nbButton name="ver" (click)="abrirModal(proveedor)">
                {{ proveedor.id }}
              </button>
            </td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.documento }}</td>
            <td>{{ proveedor.email }}</td>
            <td>{{ proveedor.telefono }}</td>
            <td>{{ proveedor.celular }}</td>
            <td>{{ proveedor.direccion }}</td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <nb-icon icon="file-add-outline" type="button" name="" [routerLink]="['/facturas/form', proveedor.id]"
                class="factura">
              </nb-icon>
            </td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <nb-icon icon="edit-2-outline" type="button" name="editar"
                [routerLink]="['./formProveedor', proveedor.id]" class="editar">
              </nb-icon>
            </td>
            <td *ngIf="authService.hasRole('ROLE_ADMIN')">
              <nb-icon icon="trash-outline" type="button" name="eliminar" (click)="delete(proveedor)" class="eliminar">
              </nb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </ng2-smart-table>
    <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
    </pagination-controls>
  </nb-card-body>
</nb-card>
