<nb-card>
  <detalle-compra *ngIf="detalleSeleccionado" [solicitudDetalleCompra]="detalleSeleccionado">
  </detalle-compra>
  <nb-card-body>
    <h2 class="card-title" style="text-align: center">Detalle Solicitud Compra</h2>
    <div class="my-2 text-left">
      <nb-icon icon="plus" type="button" *ngIf="authService.hasRole('ROLE_ADMIN')" [routerLink]="['./formDetalle']">
      </nb-icon>
    </div>
    <div *ngIf="solicitudDetalleCompras.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <ng2-smart-table>
      <table class="table" *ngIf="solicitudDetalleCompras.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <!-- <th>Id Elmento</th>
            <th>Id Solicitud Compra</th> -->
            <th>Proveedor Sugerido</th>
            <th>Especificaciones Tecnicas</th>
            <!-- <th>Id Estado</th> -->
            <th>Cantidad</th>
            <th>Fecha Nesecidad</th>
            <th>Programador</th>
            <!-- <th>Unidad Medida</th> -->
            <th>Ver Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let solicitudDetalleCompra of solicitudDetalleCompras | paginate: { itemsPerPage: 10, currentPage: page }">
            <td>{{ solicitudDetalleCompra.id }}</td>
            <td>{{ solicitudDetalleCompra.proveedor_sugerido }}</td>
            <td>{{ solicitudDetalleCompra.especificaciones_tecnicas }}</td>
            <td>{{ solicitudDetalleCompra.cantidad }}</td>
            <td>{{ solicitudDetalleCompra.fecha_necesidad }}</td>
            <td>{{ solicitudDetalleCompra.programado }}</td>
            <td><button nbButton [routerLink]="['./detalle', solicitudDetalleCompra.id]">Ver</button></td>
            
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
      </pagination-controls>
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
