// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ), default, default);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: #252547,
    slide-out-shadow-color: 2px 0 3px #29157a,
    slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  ), cosmic, cosmic);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    color-basic-100: white, //letra de tema
    color-basic-200: #0049b7, //tabla
    color-basic-300: #0053cf, //boton id
    color-basic-400: #0041a8, //scroball
    color-basic-500: #003f9e, //borde del boton id despues de abrir
    color-basic-600: white, //iconos
    color-basic-700: #0050c8, //fondo card
    color-basic-800: white, //letra
    color-basic-900: #003f9e, //fondo
    color-basic-1000: black,
    color-basic-1100: #002d70,
    background-basic-color-1: color-basic-700, //llama el fondo del card
    background-basic-color-2: color-basic-200, //llama el fondo de tabla
    background-basic-color-3: color-basic-900, //llama el fondo
    background-basic-color-4: color-basic-1100, //llama el scroball
    border-basic-color-1: color-basic-1000,
    border-basic-color-2: color-basic-100,
    border-basic-color-3: color-basic-900, //borde tabla
    border-basic-color-4: color-basic-400, //borde card
    border-basic-color-5: color-basic-100,
    color-primary-default: color-primary-900,
  ), corporate, corporate);

$nb-themes: nb-register-theme((layout-padding-top: 2.25rem,

    menu-item-icon-margin: 0 0.5rem 0 0,

    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,

    select-min-width: 6rem,

    slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ), dark, dark);
