<nb-card>
  <detalles-vendedor
    *ngIf="vendedorSeleccionado"
    [vendedor]="vendedorSeleccionado"
  ></detalles-vendedor>
  <nb-card-body>
    <h2 class="card-title" style="text-align: center">Listado de Vendedores</h2>
    <div class="my-2 text-left">
      <nb-icon
        icon="plus-outline"
        type="button"
        [routerLink]="['./formVendedor']"
      ></nb-icon>
    </div>
    <div *ngIf="vendedores?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <ng2-smart-table [source]="source">
      <table class="table" *ngIf="vendedores?.length > 0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Direccion</th>
            <th>Crear Factura</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let vendedor of vendedores
                | paginate: { itemsPerPage: 10, currentPage: page }
            "
          >
            <td>
              <button nbButton name="ver" (click)="abrirModal(vendedor)">
                {{ vendedor.id }}
              </button>
            </td>
            <td>{{ vendedor.nombre }}</td>
            <td>{{ vendedor.documento }}</td>
            <td>{{ vendedor.email }}</td>
            <td>{{ vendedor.telefono }}</td>
            <td>{{ vendedor.celular }}</td>
            <td>{{ vendedor.direccion }}</td>
            <td>
              <nb-icon
                icon="file-add-outline"
                type="button"
                name=""
                [routerLink]="['/facturas/form', vendedor.id]"
                class="factura"
              >
              </nb-icon>
            </td>
            <td>
              <nb-icon
                icon="edit-2-outline"
                type="button"
                name="editar"
                [routerLink]="['./formVendedor', vendedor.id]"
                class="editar"
              >
              </nb-icon>
            </td>
            <td>
              <nb-icon
                icon="trash-outline"
                type="button"
                name="eliminar"
                (click)="delete(vendedor)"
                class="eliminar"
              ></nb-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </ng2-smart-table>
    <pagination-controls
      (pageChange)="page = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente"
    >
    </pagination-controls>
  </nb-card-body>
</nb-card>
